:root {
  --text-color-primary: #121212;
  --text-color-secondary: #f7f7f7;

  --bg-color-dark: #121212;
  --bg-color-light: #f7f7f7;
  --bg-color-white: #ffffff;

  --border-color-dark: #121212;
  --border-color-light: #f7f7f7;
}

$text-color-primary: #121212;
$text-color-secondary: #f7f7f7;
$bg-color-dark: #121212;
$bg-color-light: #f7f7f7;
$bg-color-white: #ffffff;
$border-color-dark: #121212;
$border-color-light: #f7f7f7;
