:root {
  --text-color-primary: #121212;
  --text-color-secondary: #F7F7F7;

  --bg-color-dark: #121212;
  --bg-color-light: #F7F7F7;
  --bg-color-white: #ffffff;

  --border-color-dark: #121212;
  --border-color-light: #F7F7F7;

  --animation-for-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


