<section class="section">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <div class="complex__room__hotel">
      <div>
        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="
              ./images/about-a-complex/img_desk@1x-1.webp,
              ./images/about-a-complex/img_desk@2x-1.webp
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about-a-complex/img_tab@1x-1.webp,
              ./images/about-a-complex/img_tab@2x-1.webp
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/about-a-complex/img_mob@1x-1.webp,
              ./images/about-a-complex/img_mob@1x-1.webp
            "
            type="image/webp"
          />
          <img
            class="img__room__hotel"
            src=" ./images/about-a-complex/img_mob@1x-1.webp"
            alt="hotel rooms"
            loading="lazy"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="
              ./images/about-a-complex/img_desk@1x-2.webp,
              ./images/about-a-complex/img_desk@2x-2.webp
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about-a-complex/img_tab@1x-2.webp,
              ./images/about-a-complex/img_tab@2x-2.webp
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/about-a-complex/img_mob@1x-2.webp,
              ./images/about-a-complex/img_mob@2x-2.webp
            "
            type="image/webp"
          />
          <img
            class="img__bathroom__hotel"
            src="./images/about-a-complex/img_mob@1x-2.webp"
            alt="hotel bathroom"
            loading="lazy"
          />
        </picture>
        <div class="about__complex__rewies">
          <img
            src="/src/images/about-a-complex/women.png"
            alt="photo of a woman"
          />
          <div class="rewies__text">
            <p class="rewies__name__text">Maria</p>
            <p class="rewies__rating__text">
              give rating
              <span class="rewies__rating">4.5</span>
            </p>
          </div>
        </div>
      </div>
      <div class="room__description__restaurant">
        <h3 class="room__description__restaurant__title">
          restaurant-hotel complex
        </h3>
        <p class="room__description__restaurant__text">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
        <p class="room__description__invitation__text">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </div>
    </div>
    <div class="about__complex__restaurant">
      <picture>
        <source
          media="(min-width: 1400px)"
          srcset="
            ./images/about-a-complex/img_desk@1x-3.webp,
            ./images/about-a-complex/img_desk@2x-3.webp
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about-a-complex/img_tab@1x-3.webp,
            ./images/about-a-complex/img_tab@2x-3.webp
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/about-a-complex/img_mob@1x-3.webp,
            ./images/about-a-complex/img_mob@2x-3.webp
          "
          type="image/webp"
        />
        <img
          class="img__restaurant__hotel"
          src="./images/about-a-complex/img_mob@1x-3.webp"
          alt="restaurant"
          loading="lazy"
        />
      </picture>
      <div class="business-class-information">
        <div class="business__room__description">
          <h3 class="room__description__restaurant__title">
            business class hotel
          </h3>
          <p class="description__business__restaurant__text">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="
              ./images/about-a-complex/img_desk@1x-4.webp,
              ./images/about-a-complex/img_desk@2x-4.webp
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about-a-complex/img_tab@1x-4.webp,
              ./images/about-a-complex/img_tab@2x-4.webp
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/about-a-complex/img_mob@1x-4.webp,
              ./images/about-a-complex/img_mob@2x-4.webp
            "
            type="image/webp"
          />
          <img
            class="img__business__restaurant"
            src="./images/about-a-complex/img_mob@1x-4.webp"
            alt="business restaurant"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="about__complex__rewies__man">
        <img src="/src/images/about-a-complex/man.png" />
        <div class="rewies__text">
          <p class="rewies__name__text">Alexander</p>
          <p class="rewies__rating__text">
            give rating
            <span class="rewies__rating">5.5</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
