<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">Mimino</h1>

      <div class="hero__content">
        <div class="hero__btn-wrap">
          <button class="hero__btn">book a room</button>
          <button class="hero__btn">book a table</button>
        </div>

        <div class="hero__text-wrap">
          <p class="hero__text">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            a romantic dinner, our menu has something for everyone.
          </p>
          <p class="hero__text">
            At Hotel Mimino, we believe that great food should be available to
            everyone, no matter the time of day.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
