<section class="hotel-details section">
        <div class="hotel-details__container container">
            <div class="hotel-details__wrap">
                <h2 class="hotel-details__title">HOTEL</h2>
                <p class="hotel-details__description">Book your stay with us now and experience the epitome of comfort and luxury at our hotel. We guarantee you'll be thrilled with your decision.</p>
                <div class="hotel-details__btn-wrap-desc">
                <button class="hotel-details__btn-desc" type="button">
                  BOOK A ROOM
                </button>
                <button class="hotel-details__btn-desc" type="button">
                  VIEW ROOM
                </button>
            </div>
              </div>
             <div class="hotel-details__image-container">
              <ul class="hotel-details__image-list list">
                <li class="">
                  <ul class="hotel-details__tab-img list">
                    <li class="">
                        <picture>
                         <source media="(min-width: 1440px)" 
                         srcset="/src/images/hotel-details/image2-desc@1x.webp 1x,
                         /src/images/hotel-details/image2-desc@2x.webp 2x" type= "image/webp">
                         <source media="(min-width: 768px)" 
                         srcset="/src/images/hotel-details/image2-tab@1x.webp 1x,
                         /src/images/hotel-details/image2-tab@2x.webp 2x" type="image/webp">
                         <source media="(max-width: 767px)" 
                         srcset="/src/images/hotel-details/image2-mob@1x.webp 1x,
                         /src/images/hotel-details/image2-mob@2x.webp 2x" type="image/webp">
                         <img src="/src/images/hotel-details/image2-desc@1x.webp" 
                         alt="bedroom"
                         loading="lazy">
                         </picture>
                    </li>
                    <li class="">
                      <picture>
                         <source media="(min-width: 1440px)" 
                         srcset="/src/images/hotel-details/image3-desc@1x.webp 1x,
                         /src/images/hotel-details/image3-desc@2x.webp 2x" type= "image/webp">
                         <source media="(min-width: 768px)" 
                         srcset="/src/images/hotel-details/image3-tab@1x.webp 1x,
                         /src/images/hotel-details/image3-tab@2x.webp 2x" type="image/webp">
                         <source media="(max-width: 767px)" 
                         srcset="/src/images/hotel-details/image3-mob@1x.webp 1x,
                         /src/images/hotel-details/image3-mob@2x.webp 2x" type="image/webp">
                         <img src="/src/images/hotel-details/image3-desc@1x.webp" 
                         alt="bedroom"
                         loading="lazy">
                         </picture>
                    </li>
                  </ul>
                </li>
                <li class="hotel-details__main-img">
                  <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/src/images/hotel-details/image1-desc@1x.webp 1x,
                    /src/images/hotel-details/image1-desc@2x.webp 2x" type= "image/webp">
                    <source media="(min-width: 768px)" 
                    srcset="/src/images/hotel-details/image1-tab@1x.webp 1x,
                    /src/images/hotel-details/image1-tab@2x.webp 2x" type="image/webp">
                    <source media="(max-width: 767px)" 
                    srcset="/src/images/hotel-details/image1-mob@1x.webp 1x,
                    /src/images/hotel-details/image1-mob@2x.webp 2x" type="image/webp">
                    <img src="/src/images/hotel-details/image1-desc@1x.webp" 
                    alt="bedroom"
                    loading="lazy">
                  </picture>
                </li>
                <li>
                  <ul class="hotel-details__mob-img-list list">
                    <div class="hotel-details__mob-img-wrap"> 
                      <li class="hotel-details__mob-img-item">
                        <picture>
                       <source media="(min-width: 1440px)" 
                       srcset="/src/images/hotel-details/image2-desc@1x.webp 1x,
                       /src/images/hotel-details/image2-desc@2x.webp 2x" type= "image/webp">
                       <source media="(min-width: 768px)" 
                       srcset="/src/images/hotel-details/image2-tab@1x.webp 1x,
                       /src/images/hotel-details/image2-tab@2x.webp 2x" type="image/webp">
                       <source media="(max-width: 767px)" 
                       srcset="/src/images/hotel-details/image2-mob@1x.webp 1x,
                       /src/images/hotel-details/image2-mob@2x.webp 2x" type="image/webp">
                       <img src="/src/images/hotel-details/image2-desc@1x.webp" 
                       alt="bedroom"
                       loading="lazy">
                       </picture>
                      </li>
                      <li class="hotel-details__mob-img-item">
                       <picture>
                       <source media="(min-width: 1440px)" 
                       srcset="/src/images/hotel-details/image3-desc@1x.webp 1x,
                       /src/images/hotel-details/image3-desc@2x.webp 2x" type= "image/webp">
                       <source media="(min-width: 768px)" 
                       srcset="/src/images/hotel-details/image3-tab@1x.webp 1x,
                       /src/images/hotel-details/image3-tab@2x.webp 2x" type="image/webp">
                       <source media="(max-width: 767px)" 
                       srcset="/src/images/hotel-details/image3-mob@1x.webp 1x,
                       /src/images/hotel-details/image3-mob@2x.webp 2x" type="image/webp">
                       <img src="/src/images/hotel-details/image3-desc@1x.webp" 
                       alt="bedroom"
                       loading="lazy">
                       </picture>
                      </li>
                    </div>
                    <li class="hotel-details__mob-img-item">
                     <picture>
                     <source media="(min-width: 1440px)" 
                     srcset="/src/images/hotel-details/image4-desc@1x.webp 1x,
                     /src/images/hotel-details/image4-desc@2x.webp 2x" type= "image/webp">
                     <source media="(min-width: 768px)" 
                     srcset="/src/images/hotel-details/image4-tab@1x.webp 1x,
                     /src/images/hotel-details/image4-tab@2x.webp 2x" type="image/webp">
                     <source media="(max-width: 767px)" 
                     srcset="/src/images/hotel-details/image4-mob@1x.webp 1x,
                     /src/images/hotel-details/image4-mob@2x.webp 2x" type="image/webp">
                     <img src="/src/images/hotel-details/image4-desc@1x.webp" 
                     alt="bedroom"
                     loading="lazy">
                     </picture>
                    </li>
                    <li class="hotel-details__mob-img-item">
                     <picture>
                     <source media="(min-width: 1440px)" 
                     srcset="/src/images/hotel-details/image5-desc@1x.webp 1x,
                     /src/images/hotel-details/image5-desc@2x.webp 2x" type= "image/webp">
                     <source media="(min-width: 768px)" 
                     srcset="/src/images/hotel-details/image5-tab@1x.webp 1x,
                     /src/images/hotel-details/image5-tab@2x.webp 2x" type="image/webp">
                     <source media="(max-width: 767px)" 
                     srcset="/src/images/hotel-details/image5-mob@1x.webp 1x,
                     /src/images/hotel-details/image5-mob@2x.webp 2x" type="image/webp">
                     <img src="/src/images/hotel-details/image5-desc@1x.webp" 
                     alt="bedroom"
                     loading="lazy">
                     </picture>
                    </li>
                  </ul>
                </li>
              </ul>
             </div>
            <div class="hotel-details__swiper-wrap">
              <button class="hotel-details__swiper-btn" type="button">
               <svg class="hotel-details__swiper-icon" width="24" height="24">
                 <use href="/src/images/hotel-details/hotel-details-icons.svg#swiper-left"></use>
               </svg>
              </button>
              <button class="hotel-details__swiper-btn" type="button">
                <svg class="hotel-details__swiper-icon" width="24" height="24">
                  <use href="/src/images/hotel-details/hotel-details-icons.svg#swiper-right"></use>
                </svg>
              </button>
            </div>
            <div class="hotel-details__btn-wrap">
                <button class="hotel-details__btn" type="button">
                  BOOK A ROOM
                </button>
                <button class="hotel-details__btn" type="button">
                  VIEW ROOM
                </button>
            </div>
        </div>
    </section>