<section class="rest-details">
  <div class="container">
    <div class="rest-details-wrap">
      <div class="rest-details-text-wrap">
        <h2 class="rest-details-title">Restaurant</h2>
        <p class="rest-details-text">
          Relax and unwind with our delicious offerings, available any time of
          day.
        </p>
      </div>
      <div class="rest-details-btn-wrap">
        <button class="rest-details-btn">
          <span
            class="rest-details-btn-text js-open-modal"
            data-modal="modal-table"
            >Book a table</span
          >
        </button>

        <a
          class="rest-details-btn-text rest-details-btn"
          href="./restaurant.html#view-a-menu"
          >View the menu</a
        >
      </div>
    </div>

    <!-- SLIDER -->
    <div class="slider-rest-details">
      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-1.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-1.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-1.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-1.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-1.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-1.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-1.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-2.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-2.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-2.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-2.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-3.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-3.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-3.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-3.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-3.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-3.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-3.jpg
                    "
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-4.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-4.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-4.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-4.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-4.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-4.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-4.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-5.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-5.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-5.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-5.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-5.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-5.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-5.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <!-- <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-6.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-6.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-6.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-6.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-6.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-6.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-6.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-7.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-7.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-7.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-7.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-7.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-7.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-7.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-8.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-8.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-8.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-8.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-8.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-8.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-8.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-9.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-9.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-9.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-9.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-9.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-9.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-9.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>

      <div class="slider-rest-details-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-10.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-10.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-10.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-10.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-10.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-10.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-10.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div> -->
    </div>

    <!-- SLIDER -->

    <!-- <div class="slider">
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-1.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-1.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-1.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-1.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-1.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-1.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-1.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-2.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-2.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-2.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-2.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-2.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-2.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-2.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-3.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-3.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-3.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-3.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-3.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-3.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-3.jpg
                    "
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-4.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-4.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-4.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-4.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-4.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-4.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-4.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-5.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-5.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-5.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-5.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-5.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-5.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-5.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-6.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-6.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-6.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-6.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-6.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-6.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-6.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-7.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-7.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-7.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-7.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-7.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-7.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-7.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-8.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-8.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-8.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-8.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-8.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-8.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-8.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-9.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-9.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-9.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-9.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-9.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-9.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-9.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture class="rest-details-pic">
          <source
            srcset="
              /src/images/rest-details/desktop/rest-details-desktop-10.jpg    1x,
              /src/images/rest-details/desktop/rest-details-desktop@2x-10.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/rest-details/tablet/rest-details-tablet-10.jpg    1x,
              /src/images/rest-details/tablet/rest-details-tablet@2x-10.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/rest-details/mobile/rest-details-mobile-10.jpg    1x,
              /src/images/rest-details/mobile/rest-details-mobile@2x-10.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/rest-details/desktop/rest-details-desktop-10.jpg"
            alt="rest-gallery"
            width="336"
          />
        </picture>
      </div>


        <svg class="btn-prev" style="display: block">
          <use href="/src/images/icon/symbol-defs.svg#"></use>
        </svg>

        <svg class="btn-next" style="display: block">
          <use href="/src/images/icon/symbol-defs.svg#"></use>
        </svg>

     Mobile/Tablet btns -->

    <div class="rest-details-btn-low-wrap">
      <button class="rest-details-btn">
        <span
          class="rest-details-btn-text js-open-modal"
          data-modal="modal-table"
          >Book a table</span
        >
      </button>

      <a
        class="rest-details-btn-text rest-details-btn"
        href="./restaurant.html#view-a-menu"
        >View the menu</a
      >
    </div>
  </div>
</section>
