
      <section class="restaurant-details">
        <div class="container">
          <div class="restaurant-details-wrap">
            <div class="restaurant-details-text-wrap">
              <h2 class="restaurant-details-title">Restaurant</h2>
              <p class="restaurant-details-text">
                Relax and unwind with our delicious offerings, available any
                time of day.
              </p>
            </div>
            <div class="restaurant-details-btn-wrap">
              <button class="restaurant-details-btn">
                <span
                  class="restaurant-details-btn-text js-open-modal"
                  data-modal="modal-table"
                  >Book a table</span
                >
              </button>
              <button class="restaurant-details-btn">
                <a class="restaurant-details-btn-text" href="./restaurant.html"
                  >View the menu</a
                >
              </button>
            </div>
          </div>
          <div class="slider">
            <div class="slider-img">
              <picture class="restaurant-details-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-1.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-1.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/rest-details/tablet/rest-details-tablet-1.jpg 1x,
                    ./img/rest-details/tablet/rest-details-tablet-1.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/rest-details/mobile/rest-details-mobile-1.jpg 1x,
                    ./img/rest-details/mobile/rest-details-mobile-1.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/rest-details/desktop/rest-details-desktop-1.jpg 1x"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img">
              <picture class="restaurant-details-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-4.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-4.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/tablet/tab-rest-2-1x.jpg 1x,
                    ./img/page-home/restaurants-details/tablet/tab-rest-2-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/rest-details/mobile/rest-details-mobile-2.jpg 1x,
                    ./img/rest-details/mobile/rest-details-mobile-2.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/rest-details/desktop/rest-details-desktop-4.jpg 1x"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img">
              <picture class="restaurant-details-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-3.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-3.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/tablet/tab-rest-3-1x.jpg 1x,
                    ./img/page-home/restaurants-details/tablet/tab-rest-3-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/rest-details/mobile/rest-details-mobile-3.jpg 1x,
                    ./img/rest-details/mobile/rest-details-mobile-3.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-3-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img">
              <picture class="restaurant-details-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-2.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-2.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/tablet/tab-rest-4-1x.jpg 1x,
                    ./img/page-home/restaurants-details/tablet/tab-rest-4-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/mobile/mob-rest-4-1x.jpg 1x,
                    ./img/page-home/restaurants-details/mobile/mob-rest-4-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-4-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img">
              <picture class="restaurant-details-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-5.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-5.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/tablet/tab-rest-5-1x.jpg 1x,
                    ./img/page-home/restaurants-details/tablet/tab-rest-5-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/mobile/mob-rest-5-1x.jpg 1x,
                    ./img/page-home/restaurants-details/mobile/mob-rest-5-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-5-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img">
              <picture class="restaurant-details-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-6.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-6.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/tablet/tab-rest-6-1x.jpg 1x,
                    ./img/page-home/restaurants-details/tablet/tab-rest-6-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/mobile/mob-rest-6-1x.jpg 1x,
                    ./img/page-home/restaurants-details/mobile/mob-rest-6-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-6-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img">
              <picture class="restaurant-details-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-7.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-7.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/tablet/tab-rest-7-1x.jpg 1x,
                    ./img/page-home/restaurants-details/tablet/tab-rest-7-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/page-home/restaurants-details/mobile/mob-rest-7-1x.jpg 1x,
                    ./img/page-home/restaurants-details/mobile/mob-rest-7-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-7-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img-desk">
              <picture class="restaurant-details-desk-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-8.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-8.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <!-- <source 
                        srcset="./img/page-home/restaurants-details/tablet/tab-rest-7-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-7-2x.jpg 2x"
                        media="(min-width: 768px)"
                    />
                    <source 
                        srcset="./img/page-home/restaurants-details/mobile/mob-rest-7-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-7-2x.jpg 2x"
                        media="(max-width: 767px)"
                    /> -->
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-8-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img-desk">
              <picture class="restaurant-details-desk-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-9.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-9.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <!-- <source 
                        srcset="./img/page-home/restaurants-details/tablet/tab-rest-7-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-7-2x.jpg 2x"
                        media="(min-width: 768px)"
                    />
                    <source 
                        srcset="./img/page-home/restaurants-details/mobile/mob-rest-7-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-7-2x.jpg 2x"
                        media="(max-width: 767px)"
                    /> -->
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-9-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
            <div class="slider-img-desk">
              <picture class="restaurant-details-desk-pic">
                <source
                  srcset="
                    ./img/rest-details/desktop/rest-details-desktop-10.jpg 1x,
                    ./img/rest-details/desktop/rest-details-desktop-10.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <!-- <source 
                        srcset="./img/page-home/restaurants-details/tablet/tab-rest-7-1x.jpg 1x, ./img/page-home/restaurants-details/tablet/tab-rest-7-2x.jpg 2x"
                        media="(min-width: 768px)"
                    />
                    <source 
                        srcset="./img/page-home/restaurants-details/mobile/mob-rest-7-1x.jpg 1x, ./img/page-home/restaurants-details/mobile/mob-rest-7-2x.jpg 2x"
                        media="(max-width: 767px)"
                    /> -->
                <img
                  src="./img/page-home/restaurants-details/desktop/rest-10-1x.jpg"
                  alt="rest-gallery"
                  width="336"
                />
              </picture>
            </div>
          </div>
          <div class="restaurant-details-btn-low-wrap">
            <button class="restaurant-details-btn">
              <span
                class="restaurant-details-btn-text js-open-modal"
                data-modal="modal-table"
                >Book a table</span
              >
            </button>
            <button class="restaurant-details-btn">
              <a class="restaurant-details-btn-text" href="./restaurant.html"
                >View the menu</a
              >
            </button>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <!-- Footer -->
    </footer>
  </body>
</html>
