<section class="section">
  <div class="container">
    <h2 class="welcome-complex__title">
      Welcome to the epitome of
      <span class="welcome-complex__ind">luxury</span> and
      <span class="welcome-complex__ind">comfort</span>
    </h2>
    <ul class="welcome-complex__list">
      <li>
        <p class="welcome-complex__p welcome-p1">
          Our hotel rooms are elegantly designed with an eye for detail,
          ensuring that you have everything you need for a relaxing and
          rejuvenating stay.
        </p>
      </li>
      <li>
        <p class="welcome-complex__p welcome-p2">
          Each room is equipped with the latest amenities, including plush
          bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help
          you start your day right. Our spacious bathrooms feature luxurious
          toiletries and towels, so you can pamper yourself in complete privacy.
        </p>
      </li>
    </ul>

    <img
      class="welcome-complex__img"
      src="/src/images/welcome-to/welcome-desk.jpg "
      srcset="
        /src/images/welcome-to/welcome-desk.jpg     672w,
        /src/images/welcome-to/welcome-desk@2x.jpg 1344w,
        /src/images/welcome-to/welcome-tab.jpg      704w,
        /src/images/welcome-to/welcome-tab-@2x.jpg 1408w,
        /src/images/welcome-to/welcome-mob.jpg      335w,
        /src/images/welcome-to/welcome-mob-@2x.jpg  670w
      "
      alt="hotel-room"
      sizes="(min-width: 1440px) 672px ,(min-width: 768px) 704px ,(min-width: 375px) 335px , 100vw"
    />
  </div>
</section>
