

.rest-about-items {
display: flex;
flex-wrap: wrap;
row-gap: 20px;
}

.rest-about-chef {
max-width: 335px;
margin: 0 auto;
}
.rest-about-none {
    display: none;
}


.rest-about-items__img {

}
.rest-about-2f{

display: flex;
gap: 20px;

margin: 0 auto;

margin-bottom: 32px;

}

.rest-about-food {

}

.items__img-food {

}

.rest-about-drinks {

}

.items__img-drinks {

}

.rest-about-text {
margin-bottom: 32px;

font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    
}


.rest-about-textall{
max-width: 335px;
margin: 0 auto;

}

@media screen and (min-width:768px) and (max-width:1439px) {
.rest-about-items{
flex-direction: row-reverse;
margin-bottom:40px ;
column-gap: 32px;
justify-content: center;
}

.rest-about-chef{
display: block;
    max-width: 388px;
    margin: 0;
   
}
.rest-about-2f{
    flex-direction: column;
    margin: 0;
    gap: 16px;
}


.rest-about-textall {
display: flex;
column-gap: 32px;
margin: 0 auto;
max-width: 704px; 



}

.rest-about-text {
    margin-bottom: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  
.rest-about-none{
    display: none;
}

}





}

@media screen and (min-width:1440px) {

.rest-about-items {
column-gap: 36px;
     justify-content: center;
        flex-wrap: nowrap;
    }
    .rest-about-2f{
flex-direction: row;
margin: 0;
column-gap: 32px;


    }
    .rest-about-chef{
max-width: 511px;
margin: 0;

    }

    .rest-about-textall{
        display: none;
    }
.rest-about-ft1{
max-width: 334px;



}
.rest-about-ft2 {
max-width: 467px;


}


.rest-about-text {
  

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top:32px ;
   margin-bottom: 0;


}

.rest-about-none{
    display: block;
}





}