.restaurant-hero {
  padding-top: 40px;
  background-color: #f6f6f6;
}

.restaurant-hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--text-color-primary);

  margin-bottom: 24px;
}

.restaurant-hero-btn-wrap {
  display: flex;
  gap: 12px;
}

.restaurant-hero-btn {
  width: 128px;
  height: 34px;

  border: 0.8px solid #121212;
  border-radius: 32px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color var(--animation-for-hover),
    background-color var(--animation-for-hover);
}

.restaurant-hero-btn:hover,
.restaurant-hero-btn:focus {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-fone);
}

.restaurant-hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 375px) {
  .container-restaurant-hero {
    width: 375px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container-restaurant-hero {
    width: 768px;
    padding-left: 34px;
  }

  .restaurant-hero-title {
    margin-bottom: 32px;
    font-size: 80px;
  }

  .restaurant-hero-btn {
    width: 140px;
    height: 40px;
    line-height: 1.714;
  }

  .restaurant-herobuttons {
    gap: 10px;
  }

  .restaurant-hero-text {
    width: 338px;
  }
}

@media screen and (min-width: 1440px) {
  .container-restaurant-hero {
    width: 1440px;
    padding-left: 32px;
  }
  .restaurant-hero-title {
    font-size: 90px;
  }
  .restaurant-herobuttons {
    gap: 14px;
  }
  .restaurant-hero-btn {
    width: 167px;
    height: 42px;

    font-size: 18px;
    line-height: 1.333;
  }
}

// ===== Swiper =====
/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
.slick-slide {}

/* Слайд активный */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки */
.slick-dots {}

.slick-dots li {}

.slick-dots button {}

/* Конкретный слайдер */
.slider {
  position: relative;
  
}

.slider .slick-arrow {
  position: absolute;
  top: 0 ;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  background-color: #121212;
  width: 30px;
  height: 60px;
}