.hero__section {
  background-color: var(--bg-color-light);
  overflow: hidden;
}

.hero__container {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 64px;
}

.hero__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--text-color-primary);
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align: left;
}

.hero__span {
  font-style: italic;
}

.hero__button {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--text-color-primary);
  background-color: transparent;
  margin-bottom: 40px;
  border: 0.8px solid var(--text-color-primary);
  border-radius: 32px;
  padding: 8px 18px;
  text-transform: uppercase;
  transition: color var(--animation-for-hover),
    background-color var(--animation-for-hover);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-fone);
}

.hero__list {
  display: flex;
  gap: 20px;
}

.hero__text {
  width: 289px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.05em;
  color: var(--text-color-primary);
  text-transform: uppercase;
  margin-top: 100px;
}
.hero__img {
  max-width: 250px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 40px;
    padding-left: 34px;
    padding-bottom: 120px;
  }
  .hero__title {
    font-size: 60px;
    margin-bottom: 18px;
  }
  .hero__button {
    line-height: 1.714;
    margin-bottom: 28px;
    padding: 8px 24px;
  }
  .hero__list {
    gap: 32px;
  }
  .hero__img {
    width: 436px;
    max-width: 436px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__container {
    padding-top: 30px;
    padding-left: 32px;
    padding-bottom: 30px;
  }
  .hero__desk {
    display: flex;
  }
  .hero__wrapper {
    margin-right: 158px;
  }
  .hero__title {
    font-size: 80px;
    margin-bottom: 32px;
    width: 546px;
    padding-top: 169px;
  }
  .hero__button {
    margin-bottom: 169px;
    padding: 9px 24px;
    font-size: 18px;
    line-height: 1.33;
  }
  .hero__text {
    margin-top: -36px;
  }
}

//  _____________SLIDER -----2 ________________
/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  // overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  // align-items: flex-start;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Стрелка */
.slick-arrow {
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 52px;
}
.slick-prev::before {
  display: none;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
.slick-next::before {
  display: none;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
  opacity: 0.3;
}

/* Точки */
.slick-dots {
}

.slick-dots li {
}

.slick-dots button {
}

/* Конкретный слайдер */
.slider__room {
  position: relative;
}

// .slider__room .slick-arrow {
//   position: absolute;
//   bottom: -50%;
//   left: 50%;
//   z-index: 2;
//   margin: 20px;
//   background-color: #121212;
//   width: 30px;
//   height: 60px;
// }

.slider__room .slick-arrow {
  position: absolute;
  z-index: 10;

  width: 35px;
  height: 30px;
  background-repeat: no-repeat;

  margin-top: 330px;
}

.slider__room .slick-arrow.slick-prev {
  background-image: url(/src/images/icon/sl-arrow_l.svg);
  background-size: 25px 20px;
  padding: 11px;
}
.slider__room .slick-arrow.slick-next {
  background-image: url(/src/images/icon/sl-arrow_r.svg);
  background-size: 30px 20px;
  left: 120px;
  padding: 11px;
}

.slick-initialized .slick-slide {
  margin-right: 32px;
}

@media screen and (max-width: 1439px) {
  .slick-arrow.slick-prev {
    left: 535px;
  }
  .slider__room .slick-arrow.slick-next {
    left: 602px;
  }
}
@media screen and (max-width: 767px) {
  .slider__room .slick-arrow {
    margin-top: 260px;
  }
  .slick-arrow.slick-prev {
    left: 220px;
  }
  .slider__room .slick-arrow.slick-next {
    left: 290px;
  }
}
@media screen and (max-width: 374px) {
  .slider__room .slick-arrow {
    margin-top: 260px;
  }
  .slick-arrow.slick-prev {
    left: 190px;
  }
  .slider__room .slick-arrow.slick-next {
    left: 230px;
  }
}
