

/* tablet screen */
@media screen and (min-width: 768px) {
 .kitchen__img{
    margin-right: 32px;
 }
}
/* tablet screen */
@media screen and (min-width: 768px) {
 .bathroom__luxery-img{
    margin-left: 150px;
 }   
}
/* desctop screen */
@media screen and (min-width: 1440px) {
.bathroom__luxery-img {margin-left: 15px;}
}
