<div class="backdrop">
  <div class="modal-book-table">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-btn-icon" width="12" height="12">
        <use href="./images/icon/symbol-defs.svg#icon-close-modal"></use>
      </svg>
    </button>
    <p class="modal-slogan">
      book &nbsp<span class="modal-slogan-item">a table</span>
    </p>
    <form class="modal-form" name="modal_form" autocomplete="on">
      <label class="modal-form-field">
        <span class="modal-form-input-wrapper">
          <span class="modal-form-input-desc">your name</span>
          <input
            class="modal-form-input"
            name="user_name"
            type="text"
            required
            minlength="2"
          />
        </span>
        <span class="modal-form-input-data">Who should book a table for?</span>
      </label>
      <label class="modal-form-people">
        <span class="modal-form-input-wrapper">
          <span class="modal-form-input-desc">number of people</span>
          <select name="number_of_people" class="modal-number-people">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </span>
      </label>
      <label class="modal-form-field">
        <span class="modal-form-input-wrapper">
          <span class="modal-form-input-desc">today</span>
          <input
            class="modal-form-input"
            name="user_name"
            type="text"
            required
            minlength="2"
          />
          <svg class="modal-form-date-icon" width="10" height="10">
            <use href="./images/icon/symbol-defs.svg#icon-choice"></use>
          </svg>
        </span>
        <span class="modal-form-input-data">What date to book?</span>
      </label>
      <label class="modal-form-field">
        <span class="modal-form-input-wrapper">
          <span class="modal-form-input-desc">+380</span>
          <input
            class="modal-form-input"
            name="user_phone"
            type="tel"
            required
          />
        </span>
        <span class="modal-form-input-data">Phone number</span>
      </label>
    </form>
    <button type="submit" class="reservation-table-btn">
      make a reservation
    </button>
  </div>
</div>
