<section class="restaurant-hero">
  <div class="container">
    <h1 class="restaurant-hero-title">Restaurant</h1>

    <ul class="restaurant-hero-btn-wrap">
      <li>
        <a href="" class="btn-booktable restaurant-hero-btn">book a table</a>
      </li>
      <li>
        <a href="#view-a-menu" class="restaurant-hero-btn">View a menu</a>
      </li>
    </ul>

    <p class="restaurant-hero-text">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
    <div class="slider">
      <div class="slider__item filter">
        <img src="/src/images/hero-restaurant/image1m@1x.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="/src/images/hero-restaurant/image2m@1x.jpg" alt="" />
      </div>
      <div class="slider__item filter">
        <img src="/src/images/hero-restaurant/image3m@1x.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
