<section class="restaurant-menu-section">
  <div class="restaurant-menu-container">
    <h2 id="view-a-menu" class="restaurant-menu-title">restaurant menu</h2>
    <ul class="restaurant-item">
      <li class="restaurant-wrapper">
        <h3 class="restaurant-food-type">Hot meals</h3>
        <ul>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Veal borscht with beans</p>
              <p class="restaurant-ingredient">
                Veal, potatoes, cabbage, carrots, onions, beans, garlic,
                tomatoes, greens, sour cream
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">400 g</p>
              <p class="restaurant-price">240 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Cheese soup with chicken</p>
              <p class="restaurant-ingredient">
                Chicken, potatoes, carrots, onions, mushrooms, soft cheese,
                greens
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">400 g</p>
              <p class="restaurant-price">200 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Carbonara pasta</p>
              <p class="restaurant-ingredient">
                Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">400 g</p>
              <p class="restaurant-price">430 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Pork steak</p>
              <p class="restaurant-ingredient">
                Pork tenderloin, spices, served with sweet chili sauce and
                vegetables
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">400 g</p>
              <p class="restaurant-price">500 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Gorbusha in white wine sauce</p>
              <p class="restaurant-ingredient">
                Tender redfish, cream sauce based on white wine
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">400 g</p>
              <p class="restaurant-price">400 UAH</p>
            </div>
          </li>
        </ul>
      </li>
      <li class="restaurant-wrapper">
        <h3 class="restaurant-food-type">Side dishes and snacks</h3>
        <ul>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Baked vegetables</p>
              <p class="restaurant-ingredient">
                Zucchini, pepper, tomato, eggplant
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">200 g</p>
              <p class="restaurant-price">230 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">French fries</p>
              <p class="restaurant-ingredient">Potatoes, tomato sauce</p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">150 g</p>
              <p class="restaurant-price">160 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Peasant-style potatoes</p>
              <p class="restaurant-ingredient">
                Potatoes, spices, spicy sauces
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">150 g</p>
              <p class="restaurant-price">160 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Crisp pickles from the barrel</p>
              <p class="restaurant-ingredient">
                Salted cucumber, pickled tomato, sauerkraut, Korean carrot
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">250 g</p>
              <p class="restaurant-price">350 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Chicken wings in honey sauce</p>
              <p class="restaurant-ingredient">
                Chicken wings, mustard-honey sauce, served with carrots, celery
                and blue cheese sauce
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">400 g</p>
              <p class="restaurant-price">280 UAH</p>
            </div>
          </li>
        </ul>
      </li>
      <li class="restaurant-wrapper">
        <h3 class="restaurant-food-type">Salads</h3>
        <ul>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Caesar with chicken</p>
              <p class="restaurant-ingredient">
                Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese,
                croutons, Caesar sauce
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">230 g</p>
              <p class="restaurant-price">450 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Caesar with shrimp</p>
              <p class="restaurant-ingredient">
                Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese,
                croutons, caesar sauce
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">230 g</p>
              <p class="restaurant-price">300 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Greek salad</p>
              <p class="restaurant-ingredient">
                Fresh cucumber, tomato, bell pepper, olives, brynza cheese,
                lettuce, sauce
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">230 g</p>
              <p class="restaurant-price">280 UAH</p>
            </div>
          </li>
          <li class="restaurant-inner">
            <div class="restaurant-meal">
              <p class="restaurant-dish">Meat salad</p>
              <p class="restaurant-ingredient">
                Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell
                pepper, ranch sauce
              </p>
            </div>
            <div class="restaurant-details">
              <p class="restaurant-weight">230 g</p>
              <p class="restaurant-price">300 UAH</p>
            </div>
          </li>
        </ul>
      </li>
      <li class="restaurant-wrapper">
        <ul>
          <li class="restaurant-desserts">
            <h3 class="restaurant-food-type">Desserts</h3>
            <ul>
              <li class="restaurant-sweets">
                <p class="restaurant-dish restaurant-delicacy">Napoleon cake</p>
                <p class="restaurant-price">200 UAH</p>
              </li>
              <li class="restaurant-sweets">
                <p class="restaurant-dish restaurant-delicacy">Poppy cake</p>
                <p class="restaurant-price">300 UAH</p>
              </li>
              <li class="restaurant-sweets">
                <p class="restaurant-dish restaurant-delicacy">Tiramisu</p>
                <p class="restaurant-price">260 UAH</p>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="restaurant-food-type">Drinks</h3>
            <ul>
              <li class="restaurant-sweets">
                <p class="restaurant-dish restaurant-delicacy">
                  Black/green tea
                </p>
                <p class="restaurant-price">100 UAH</p>
              </li>
              <li class="restaurant-sweets">
                <p class="restaurant-dish restaurant-delicacy">Espresso</p>
                <p class="restaurant-price">100 UAH</p>
              </li>
              <li class="restaurant-sweets">
                <p class="restaurant-dish restaurant-delicacy">Cappuccino</p>
                <p class="restaurant-price">100 UAH</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <button type="submit" class="restaurant-table-btn">book a table</button>
  </div>
</section>
