<div class="container">
    <div class="rest-about-all">


        <ul class="rest-about-list-styles rest-about-photos">
            <li>

                <img src="/src/images/rest-about/cooker.jpg" srcset="/src/images/rest-about/cooker.jpg 1x, /src/images/rest-about/cooker@2x.jpg 2x" alt="our chef"
                    class="rest-about-chef">


            </li>
            <li class="rest-about-small">



                <div>
                    <img src="/src/images/rest-about/vineandmeat.jpg" alt="meat and vine" class="rest-about-food"
                        srcset="/src/images/rest-about/vineandmeat.jpg 1x, /src/images/rest-about/vineandmeat@2x.jpg 2x">
                    <p class="rest-about-text1 rest-about-none">

                        At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest
                        ingredients to create
                        delicious dishes that showcase the flavors of premium cuts of meat.
                    </p>


                </div>

                <div>

                    <img src="/src/images/rest-about/drinks.jpg" alt="tasty drinks" class="rest-about-drinks"
                        srcset="/src/images/rest-about/drinks.jpg 1x, /src/images/rest-about/drinks@2x.jpg 2x">
                    <p class="rest-about-text2 rest-about-none">

                        Our slow-cooking process and expert seasoning bring out the best in each dish, making for an
                        unforgettable dining
                        experience. Come taste the magic of meat preparation at Mimino.
                    </p>


                </div>
            </li>






        </ul>





    </div>
    <ul class="rest-about-text rest-about-list-styles">



        <li class="rest-about-li">
            <p class="rest-about-text1">

                At Mimino, we are experts in meat preparation. Our chefs use only the finest and freshest ingredients to
                create
                delicious dishes that showcase the flavors of premium cuts of meat.
            </p>



        </li>

        <li class="rest-about-li">
            <p class="rest-about-text2">

                Our slow-cooking process and expert seasoning bring out the best in each dish, making for an
                unforgettable dining
                experience. Come taste the magic of meat preparation at Mimino.
            </p>


        </li>






    </ul>



</div>