<section class="section">
  <h2 class="visually-hidden">rest-about</h2>
  <div class="container">
    <ul class="rest-about-items">
      <li class="rest-about-chef">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /src/images/rest-about/cooker1200w@1x.jpg 1x,
              /src/images/rest-about/cooker1200w@2x.jpg 2x
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /src/images/rest-about/cooker600w@1x.jpg 1x,
              /src/images/rest-about/cooker600w@2x.jpg 2x
            "
          />
          <source
            media="(max-width:767px)"
            srcset="
              /src/images/rest-about/cooker300w@1x.jpg 1x,
              /src/images/rest-about/cooker300w@2x.jpg 2x
            "
          />
          <img
            src="/src/images/rest-about/cooker300w@1x.jpg"
            alt="our chef"
            class="rest-about-items__img"
          />
        </picture>
      </li>
      <li>
        <ul class="rest-about-2f">
          <li class="rest-about-food">
            <div class="rest-about-ft1">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                    /src/images/rest-about/vineandmeat1200w@1x.jpg 1x,
                    /src/images/rest-about/vineandmeat1200w@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    /src/images/rest-about/vineandmeat600w@1x.jpg 1x,
                    /src/images/rest-about/vineandmeat600w@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width:767px)"
                  srcset="
                    /src/images/rest-about/vineandmeat300w@1x.jpg 1x,
                    /src/images/rest-about/vineandmeat300w@2x.jpg 2x
                  "
                />
                <img
                  src="/src/images/rest-about/vineandmeat300w@1x.jpg"
                  alt="meat and vine"
                  class="items__img-food"
                />
              </picture>
              <p class="rest-about-text rest-about-none">
                At Mimino, we are experts in meat preparation. Our chefs use
                only the finest and freshest ingredients to create delicious
                dishes that showcase the flavors of premium cuts of meat.
              </p>
            </div>
          </li>
          <li class="rest-about-drinks">
            <div class="rest-about-ft2">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                    /src/images/rest-about/drinks1200w@1x.jpg 1x,
                    /src/images/rest-about/drinks1200w@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width:768px)"
                  srcset="
                    /src/images/rest-about/drinks600w@1x.jpg 1x,
                    /src/images/rest-about/drinks600w@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width:767px)"
                  srcset="
                    /src/images/rest-about/drinks300w@1x.jpg 1x,
                    /src/images/rest-about/drinks300w@2x.jpg 2x
                  "
                />
                <img
                  src="/src/images/rest-about/drinks300w@1x.jpg"
                  alt="tasty drinks"
                  class="items__img-drinks"
                />
              </picture>

              <p class="rest-about-text rest-about-none">
                Our slow-cooking process and expert seasoning bring out the best
                in each dish, making for an unforgettable dining experience.
                Come taste the magic of meat preparation at Mimino.
              </p>
            </div>
          </li>
        </ul>
      </li>
      <!-- <div class="rest-about-2f"> -->
    </ul>
    <ul class="rest-about-textall">
      <li>
        <p class="rest-about-text">
          At Mimino, we are experts in meat preparation. Our chefs use only the
          finest and freshest ingredients to create delicious dishes that
          showcase the flavors of premium cuts of meat.
        </p>
      </li>
      <li>
        <p class="rest-about-text">
          Our slow-cooking process and expert seasoning bring out the best in
          each dish, making for an unforgettable dining experience. Come taste
          the magic of meat preparation at Mimino.
        </p>
      </li>
    </ul>
  </div>
</section>
