<header class="header">
  <div class="container">
    <nav class="header_nav">
      <ul class="header_list">
        <li class="header_item">
          <a class="header_link" href="/src/index.html">home</a>
        </li>
        <li class="header_item">
          <a class="header_link" href="/src/hotel.html">hotel</a>
        </li>
        <li class="header_item">
          <a class="header_link" href="/src/restaurant.html">restaurant</a>
        </li>
        <li class="header_item">
          <a class="header_link" href="/src/room.html">room</a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <svg class="menu-toggle-icon" width="21" height="14">
        <use href="./images/icon/symbol-defs.svg#icon-menu-toggle"></use>
      </svg>
    </button>

    <div class="logo">
      <a class="logo_link" href="/src/index.html">Mimino</a>
      <p class="logo_text">restaurant-hotel complex</p>
    </div>

    <ul class="header_media">
      <li>
        <a
          href="https://www.instagram.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li><a href="" class="link">About</a></li>
    <li><a href="" class="link">Products</a></li>
    <li><a href="" class="link">Contacts</a></li>
    <li><a href="" class="link">Career</a></li>
  </ul>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="/src/Js/mob-menu.js"></script>
