<header class="header">
  <div class="container">
    <nav class="header_nav">
      <ul class="header_list">
        <li class="header_item">
          <a class="header_link current" href="/src/index.html">home</a>
        </li>
        <li class="header_item">
          <a class="header_link" href="/src/hotel.html">hotel</a>
        </li>
        <li class="header_item">
          <a class="header_link" href="/src/restaurant.html">restaurant</a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-toggle js-open-menu"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <svg class="menu-toggle-icon" width="21" height="14">
        <use href="./images/icon/symbol-defs.svg#icon-menu-toggle"></use>
      </svg>
    </button>

    <div class="logo">
      <a class="logo_link" href="/src/index.html">Mimino</a>
      <p class="logo_text">restaurant-hotel complex</p>
    </div>

    <ul class="header_media">
      <li>
        <a
          href="https://www.instagram.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com"
          aria-label="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<!----------------------------------- mobile menu --------------------------------->

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mob-wrapper">
    <button class="menu-close-btn js-close-menu">
      <svg class="modal-close-btn-icon">
        <use href="./images/icon/symbol-defs.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="mob-logo">
      <a class="logo_link mob-logo_link" href="/src/index.html">Mimino</a>
      <p class="logo_text mob-logo_text">restaurant-hotel complex</p>
    </div>
    <ul class="header_media mob-header_media">
      <li>
        <a
          href="https://www.instagram.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon mob-header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon mob-header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com"
          aria-label="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon mob-header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu-wrapper">
    <ul class="mobile-menu">
      <li><a href="/src/index.html" class="mob-link link">Home</a></li>
      <li><a href="/src/hotel.html" class="mob-link link">Hotel</a></li>
      <li>
        <a href="/src/restaurant.html" class="mob-link link">Restaurant</a>
      </li>
    </ul>

    <ul class="mob-header_media-bottom">
      <li>
        <a
          href="https://www.instagram.com"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon mob-header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon mob-header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com"
          aria-label="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-icon mob-header-icon">
            <use href="/src/images/icon/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="/src/Js/mob-menu.js"></script>
