<header class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="/src/index.html">home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/src/hotel.html">hotel</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="/src/restaurant.html">restaurant</a>
        </li>
         <li class="header__item">
          <a class="header__link" href="/src/room.html">room</a>
        </li>
      </ul>
    </nav>
    <div class="logo">
      <a class="logo__link" href="/src/index.html">Mimino</a>
      <p class="logo__text">restaurant-hotel complex</p>
    </div>
    <ul class="header__media">
      <li>
        <a href=""></a>
        <svg class="header__icon">
          <use href="/src/images/icon/symbol-defs.svg#icon-instagram"></use>
        </svg>
        </a>
      </li>
      <li>
        <a href="">
        <svg class="header__icon">
          <use href="/src/images/icon/symbol-defs.svg#icon-facebook"></use>
        </svg>
        </a>
      </li>
      <li>
        <a href=""></a>
        <svg class="header__icon">
          <use href="/src/images/icon/symbol-defs.svg#icon-twitter"></use>
        </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
