<!-- luxery -->
<section class="section">
  <div class="container">
    <ul class="room__img__list list room__img__list__tab__luxery">
      <li class="room__img__item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /src/images/luxery-room/imgdouble-luxury-roomdesk@1x-3.jpg,
              /src/images/luxery-room/imgdouble-luxury-roomdesk@2x-3.jpg
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /src/images/luxery-room/imgdouble-luxury-roomtab@1x-3.jpg,
              /src/images/luxery-room/imgdouble-luxury-roomtab@2x-3.jpg
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              /src/images/luxery-room/imgdouble-luxury-roommob@1x-3.jpg,
              /src/images/luxery-room/imgdouble-luxury-roommob@2x-3.jpg
            "
          />
          <img
            class="luxery__room__img"
            src="/src/images/luxery-room/imgdouble-luxury-roommob@1x-3.jpg"
            alt="room"
          />
        </picture>
      </li>
      <li>
        <div class="div__img__room">
          <ul class="ul__img__room ul__img__room__tab__luxery">
            <li class="bathroom__img__item">
              <picture>
                <source
                  media="(min-width:1440px )"
                  srcset="
                    /src/images/luxery-room/imgdouble-luxury-roomdesk@1x-1.jpg,
                    /src/images/luxery-room/imgdouble-luxury-roomdesk@2x-1.jpg
                  "
                />
                <source
                  media="(min-width:768px )"
                  srcset="
                    /src/images/luxery-room/imgdouble-luxury-roomtab@1x-1.jpg,
                    /src/images/luxery-room/imgdouble-luxury-roomtab@2x-1.jpg
                  "
                />
                <source
                  media="(min-width:320px )"
                  srcset="
                    /src/images/luxery-room/imgdouble-luxury-roommob@1x-1.jpg,
                    /src/images/luxery-room/imgdouble-luxury-roommob@2x-1.jpg
                  "
                />
                <img
                  class="bathroom__laxury__room__img laxury__room__img bathroom__img"
                  src="/src/images/luxery-room/imgdouble-luxury-roommob@1x-1.jpg"
                  alt="bathroom"
                />
              </picture>
            </li>
            <li class="only__bathroom">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                    /src/images/luxery-room/imgdouble-luxury-roomdesk@1x-3.jpg,
                    /src/images/luxery-room/imgdouble-luxury-roomdesk@2x-3.jpg
                  "
                />

                <img
                  class="luxery__room__img"
                  src="/src/images/luxery-room/imgdouble-luxury-roommob@1x-3.jpg"
                  alt="room"
                />
              </picture>
            </li>
            <li class="kitchen__img__item">
              <picture>
                <source
                  media="(min-width:1440px )"
                  srcset="
                    /src/images/luxery-room/imgdouble-luxury-roomdesk@1x-2.jpg,
                    /src/images/luxery-room/imgdouble-luxury-roomdesk@2x-2.jpg
                  "
                />
                <source
                  media="(min-width:768px )"
                  srcset="
                    /src/images/luxery-room/imgdouble-luxury-roomtab@1x-2.jpg,
                    /src/images/luxery-room/imgdouble-luxury-roomtab@2x-2.jpg
                  "
                />
                <source
                  media="(min-width:320px )"
                  srcset="
                    /src/images/luxery-room/imgdouble-luxury-roommob@1x-2.jpg,
                    /src/images/luxery-room/imgdouble-luxury-roommob@2x-2.jpg
                  "
                />
                <img
                  class="kitchen__luxery__room__img kitchen__luxery__img"
                  src="/src/images/luxery-room/imgdouble-luxury-roommob@1x-2.jpg"
                  alt="kitchen"
                />
              </picture>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="double__luxury__room__btn">
      <div>
        <h2 class="double__luxury__room">DOUBLE LUXURY ROOM</h2>
        <ul class="double__room__list list">
          <li class="double__room__item__1__1">
            <p class="double__room__text">
              Experience luxury in our Double Luxury Room at Mimino Hotel. This
              spacious room features a comfortable bed, private bathroom,
              flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
              curtains, and soundproofing ensure a peaceful night's sleep.
            </p>
          </li>
          <li class="double__room__item__2__1">
            <p class="double__room__text">
              Relax after a busy day at the writing desk or armchair. Book now
              for a convenient and comfortable stay.
            </p>
          </li>
        </ul>
      </div>
      <div class="btn__room btn__room__bias">
        <a class="btn__more__details" href="./room.html">MORE DETAILS</a>

        <button
          class="btn__view__prices js-open-modal"
          data-modal="modal-price"
          type="button"
        >
          VIEW PRICES
        </button>
      </div>
    </div>
  </div>
</section>
