<!-- luxery -->
<section class="section">
  <div class="container">
    <ul class="room__img__list list">
      <li class="room__img__item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              /src/images/four-seater-room/imgfour-seater-room-desk@1x-3.jpg,
              /src/images/four-seater-room/imgfour-seater-room-desk@2x-3.jpg
            "
          />
          <source
            media="(min-width:768px)"
            srcset="
              /src/images/four-seater-room/imgfour-seater-room-tab@1x-3.jpg,
              /src/images/four-seater-room/imgfour-seater-room-tab@2x-3.jpg
            "
          />
          <source
            media="(min-width:320px)"
            srcset="
              /src/images/four-seater-room/imgfour-seater-room-mob@1x-3.jpg,
              /src/images/four-seater-room/imgfour-seater-room-mob@1x-3.jpg
            "
          />
          <img
            class="luxery__room__img"
            src="/src/images/four-seater-room/imgfour-seater-room-mob@1x-3.jpg"
            alt="room"
          />
        </picture>
      </li>
      <li>
        <div class="div__img__room">
          <ul class="ul__img__room">
            <li class="bathroom__img__item">
              <picture>
                <source
                  media="(min-width:1440px )"
                  srcset="
                    /src/images/four-seater-room/imgfour-seater-room-desk@1x-1.jpg,
                    /src/images/four-seater-room/imgfour-seater-room-desk@2x-1.jpg
                  "
                />
                <source
                  media="(min-width:768px )"
                  srcset="
                    /src/images/four-seater-room/imgfour-seater-room-tab@1x-1.jpg,
                    /src/images/four-seater-room/imgfour-seater-room-tab@2x-1.jpg
                  "
                />
                <source
                  media="(min-width:320px )"
                  srcset="
                    /src/images/four-seater-room/imgfour-seater-room-mob@1x-1.jpg,
                    /src/images/four-seater-room/imgfour-seater-room-mob@2x-1.jpg
                  "
                />
                <img
                  class="bathroom__laxury__room__img"
                  src="/src/images/four-seater-room/imgfour-seater-room-mob@1x-1.jpg"
                  alt="bathroom"
                />
              </picture>
            </li>
            <li class="only__bathroom">
              <picture>
                <source
                  media="(min-width:1440px)"
                  srcset="
                    /src/images/four-seater-room/imgfour-seater-room-desk@1x-3.jpg,
                    /src/images/four-seater-room/imgfour-seater-room-desk@2x-3.jpg
                  "
                />

                <img
                  class="luxery__room__img"
                  src="/src/images/four-seater-room/imgfour-seater-room-mob@1x-3.jpg"
                  alt="room"
                />
              </picture>
            </li>
            <li class="kitchen__img__item">
              <picture>
                <source
                  media="(min-width:1440px )"
                  srcset="
                    /src/images/four-seater-room/imgfour-seater-room-desk@1x-2.jpg,
                    /src/images/four-seater-room/imgfour-seater-room-desk@2x-2.jpg
                  "
                />
                <source
                  media="(min-width:768px )"
                  srcset="
                    /src/images/four-seater-room/imgfour-seater-room-tab@1x-2.jpg,
                    /src/images/four-seater-room/imgfour-seater-room-tab@2x-2.jpg
                  "
                />
                <source
                  media="(min-width:320px )"
                  srcset="
                    /src/images/four-seater-room/imgfour-seater-room-mob@1x-2.jpg,
                    /src/images/four-seater-room/imgfour-seater-room-mob@2x-2.jpg
                  "
                />
                <img
                  class="kitchen__luxery__room__img"
                  src="/src/images/four-seater-room/imgfour-seater-room-mob@1x-2.jpg"
                  alt="kitchen"
                />
              </picture>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <h2 class="double__luxury__room">FOUR-SEATER ROOM</h2>

    <p class="double__room__text">
      Our 4-person room is perfect for small groups, offering comfort and
      convenience with 4 comfortable beds, ample storage, flat-screen TV,
      mini-fridge, coffee maker, desk and chair, air-conditioning, heating, and
      soundproof walls. Book now for a memorable stay.
    </p>

    <div class="btn__room">
      <button class="btn__more__details" type="button">MORE DETALIS</button>

      <button class="btn__view__prices" type="button">VIEW PRICES</button>
    </div>
  </div>
</section>
