.complex__room__hotel {
  position: relative;

  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }
}
.img__room__hotel {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
  }
}
.img__bathroom__hotel {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) and (max-width: 1399px) {
    position: absolute;
    top: 209px;
    right: 0;
  }
  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 209px;
    left: 300px;
  }
}
.about__complex__rewies {
  position: absolute;
  bottom: 375px;
  right: 0;
  width: 212px;
  height: 61px;
  background-color: var(--bg-color-dark);
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 14px;

  @media screen and (min-width: 768px) {
    top: 176px;
    right: 122px;
  }
  @media screen and (min-width: 1440px) {
    top: 176px;
    left: 370px;
  }
}
.rewies__text {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  gap: 7px;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: var(--font-primary);
  color: var(--text-color-secondary);
}
.rewies__rating__text {
  font-weight: 400;
  color: #575757;
}
.rewies__rating {
  color: var(--text-color-secondary);
}
.room__description__restaurant {
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    width: 473px;
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 364px;
  }
}
.room__description__restaurant__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.18em;
  color: var(--text-color-gray);
  margin-bottom: 18px;
}
.room__description__restaurant__text {
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--text-color-primary);
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.room__description__invitation__text {
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--text-color-primary);

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.about__complex__restaurant {
  position: relative;
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 82px;
    align-items: center;
  }
}
.img__restaurant__hotel {
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-bottom: 40px;
  }
}
.business__room__description {
  max-width: 268px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
  }
}
.business-class-information {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 54px;
    margin-left: 176px;
  }
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    margin: 0;
    justify-content: left;
  }
}
.description__business__restaurant__text {
  font-family: var(--font-primary);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--text-color-primary);
  font-size: 14px;
}
.about__complex__rewies__man {
  position: absolute;
  bottom: 510px;
  left: 0;
  width: 212px;
  height: 61px;
  background-color: var(--bg-color-dark);
  box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 14px;

  @media screen and (min-width: 768px) {
    top: 303px;
    left: 60px;
  }
  @media screen and (min-width: 1440px) {
    top: 303px;
    left: 695px;
  }
}

// .complex__room__hotel {
//   position: relative;

//   @media screen and (min-width: 1400px) {
//     display: flex;
//     align-items: center;
//   }
// }
// .img__room__hotel {
//   margin-bottom: 20px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 32px;
//   }
//   @media screen and (min-width: 1400px) {
//     margin-bottom: 0;
//   }
// }
// .img__bathroom__hotel {
//   margin-bottom: 32px;

//   @media screen and (min-width: 768px) and (max-width: 1399px) {
//     position: absolute;
//     top: 209px;
//     right: 0;
//   }
//   @media screen and (min-width: 1400px) {
//     position: absolute;
//     top: 209px;
//     left: 300px;
//   }
// }

// .room__description__restaurant {
//   width: 335px;
//   margin-bottom: 64px;

//   @media screen and (min-width: 768px) {
//     width: 473px;
//     margin-bottom: 80px;
//   }
//   @media screen and (min-width: 1400px) {
//     margin-left: 364px;
//   }
// }
// .complex__room__hotel {
//   position: relative;

//   @media screen and (min-width: 1400px) {
//     display: flex;
//     align-items: center;
//   }
// }
// .about__complex__rewies {
//   position: absolute;
//   bottom: 375px;
//   right: 0;
//   width: 212px;
//   height: 61px;
//   background-color: var(--bg-color-dark);
//   box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
//   border-radius: 6px;
//   display: flex;
//   align-items: center;
//   padding: 0 14px;

//   @media screen and (min-width: 768px) {
//     top: 176px;
//     right: 122px;
//   }
//   @media screen and (min-width: 1400px) {
//     top: 176px;
//     left: 370px;
//   }
// }
// .rewies__text {
//   display: flex;
//   flex-direction: column;
//   margin-left: 12px;
//   gap: 7px;
//   font-weight: 500;
//   letter-spacing: 0.04em;
//   font-family: var(--font-primary);
//   color: var(--text-color-secondary);
// }
// .rewies__rating__text {
//   color: #575757;
// }
// .rewies__rating {
//   color: var(--text-color-secondary);
// }
// .room__description__restaurant {
//   width: 335px;
//   margin-bottom: 64px;

//   @media screen and (min-width: 768px) {
//     width: 473px;
//     margin-bottom: 80px;
//   }
//   @media screen and (min-width: 1400px) {
//     margin-left: 364px;
//   }
// }
// .room__description__restaurant__title {
//   text-transform: uppercase;
//   font-family: var(--font-primary);
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.16;
//   letter-spacing: 0.18em;
//   color: #484848;
//   margin-bottom: 18px;
// }
// .room__description__restaurant__text {
//   font-family: var(--font-primary);
//   font-weight: 500;
//   letter-spacing: -0.02em;
//   line-height: 1.28;
//   text-transform: uppercase;
//   color: var(--text-color-primary);
//   margin-bottom: 14px;
// }
// .room__description__invitation__text {
//   font-family: var(--font-primary);
//   font-weight: 500;
//   letter-spacing: -0.02em;
//   line-height: 1.28;
//   text-transform: uppercase;
//   color: var(--text-color-primary);
// }
// .about__complex__restaurant {
//   position: relative;
// }
// .img__restaurant__hotel {
//   margin-bottom: 54px;

//   @media screen and (min-width: 768px) {
//     margin-left: auto;
//     margin-bottom: 40px;
//   }
// }
// .business__room__description {
//   max-width: 268px;
//   margin-bottom: 40px;

//   @media screen and (min-width: 768px) {
//     margin-left: 300px;
//   }
// }
// .room__description__restaurant {
//   width: 335px;
//   margin-bottom: 64px;

//   @media screen and (min-width: 768px) {
//     width: 473px;
//     margin-bottom: 80px;
//   }
//   @media screen and (min-width: 1400px) {
//     margin-left: 364px;
//   }
// }
// .room__description__restaurant__text {
//   font-family: var(--font-primary);
//   font-weight: 500;
//   letter-spacing: -0.02em;
//   line-height: 1.28;
//   text-transform: uppercase;
//   color: var(--text-color-primary);
//   margin-bottom: 14px;
// }
// .about__complex__rewies__man {
//   position: absolute;
//   bottom: 485px;
//   left: 0;
//   width: 212px;
//   height: 61px;
//   background-color: var(--bg-color-dark);
//   box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
//   border-radius: 6px;
//   display: flex;
//   align-items: center;
//   padding: 0 14px;

//   @media screen and (min-width: 768px) {
//     top: 303px;
//     left: 60px;
//   }
// }
