
.welcome-complex {
   
  
  // .welcome-complex__title

  &__title {
    margin-bottom: 32px;
    
    font-weight: 500;
    font-size: 32px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  
    color: #000000;}

  // .welcome-complex__ind

  &__ind {}

  // .welcome-complex__p
  &__list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }
  &__p {
    font-weight: 400;
      font-size: 14px;
      line-height: 1.29;
    
      letter-spacing: -0.02em;
      text-transform: uppercase;
    
      color: #000000;
  }

  // .welcome-complex__img

  &__img {}
}

.welcome-p1 {}

.welcome-p2 {}