.header {
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);

  @media screen and (min-width: 768px) {
    padding: 20px 32px; 
  }
}

.header-container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 1px dashed red;
  outline-offset: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1440px) {
   max-width: 1440px;
  }
}

   .header_list {
    display: flex;
    gap: 32px;
  }

@media screen and (max-width: 1439.98px) {
  .header_list {
    display: none;
  }
}

  .header_link {
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    line-height: calc(14 / 18);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color-primary);
  }


  .header_media {
    display: flex;
    gap: 14px;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 768px) {
       gap: 16px;
    }
  }

  .header-icon {
    width: 24px;
    height: 24px;
    fill: var(--bg-color-white);
    stroke: var(--text-color-primary);

    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

.logo_link {
  text-align: center;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(22 / 14);
  letter-spacing: 0.18em;
  text-transform: uppercase;  
  color: var(--text-color-primary);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(24 / 20);
    }
  }

  .logo_text {
    text-align: center;
    font-size: 6px;
    line-height: calc(8 / 6);
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: var(--text-color-primary);

    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: calc(10 / 8);
    }
  }

  .logo {
    margin: 0 auto;

    @media screen and (min-width: 1440px) {
      margin-left: 370px;
    }
  }


  .menu-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);

@media screen and (min-width: 1440px){
  display: none;
  }
}

  .menu-toggle-icon {
    stroke: var(--text-color-primary);
}