.header.header_hotel {
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 auto;
  .header {
    position: absolute;
    width: 100%;
    border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
  }

  .header .container {
    display: flex;
    align-items: center;
  }

  .logo {
    margin: 0 auto;
  }

  .header_list {
    display: flex;
    gap: 32px;
  }

  @media screen and (max-width: 1439.98px) {
    .header_list {
      display: none;
    }
  }

  .header_link {
    position: relative;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 14px;
    line-height: calc(14 / 18);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--border-color-light);
  }

  .current.header_link::after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--bg-color-light);
  }

  .header_media {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 1439px) {
      gap: 14px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .header-icon {
    width: 24px;
    height: 24px;
    fill: $bg-color-light;
    stroke: $text-color-primary;

    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  .logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo_link {
    text-align: center;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(22 / 14);
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: var(--border-color-light);

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: calc(24 / 20);
    }
  }

  .logo_text {
    text-align: center;
    font-size: 6px;
    line-height: calc(8 / 6);
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: var(--border-color-light);

    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: calc(10 / 8);
    }
  }

  .menu-toggle {
    background-color: transparent;
    border: none;

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }

  .menu-toggle-icon {
    stroke: var(--border-color-light);
  }

  // =============mobile style=================
  .menu-close-btn {
    display: block;
    position: absolute;
    top: 37px;
    left: 20px;
    transform: translateY(-50%);
    margin: 0;
    z-index: 10;
    padding: 7px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: background-color var(--animation-for-hover);

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }
  }

  .modal-close-btn-icon {
    display: block;
    stroke: var(--bg-color-white);
    width: 14px;
    height: 14px;

    @media screen and (min-width: 768px) {
      width: 16px;
      height: 16px;
    }
  }

  .mob-logo {
    text-align: center;
  }

  .mob-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(247, 247, 247, 0.2);

    @media screen and (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }
  }

  .mob-logo_link {
    color: var(--bg-color-white);
  }

  .mob-logo_text {
    color: var(--bg-color-white);
  }

  .mob-header-icon {
    display: flex;
    width: 20px;
    height: 20px;
    fill: var(--text-color-primary);
    stroke: var(--bg-color-white);

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  .mob-header_media-bottom {
    display: flex;
    align-items: center;
    gap: 14px;
    position: absolute;
    bottom: 24px;
    left: 20px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .mob-header_media {
    position: absolute;
    top: 37px;
    right: 20px;
    transform: translateY(-50%);
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: var(--text-color-primary);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }

  .mobile-menu-wrapper {
    padding: 128px 100px 470px;

    @media screen and (min-width: 768px) {
      padding: 240px 100px 530px;
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;

    @media screen and (min-width: 768px) {
      gap: 40px;
    }
  }

  .mob-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: calc(24px / 18px);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 24px;
      line-height: calc(32 / 24);
    }
  }
}

.header_list {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 1439.98px) {
  .header_list {
    display: none;
  }
}

.header_link--white {
  font-weight: 400;
  position: relative;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: calc(14 / 18);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--text-color-primary);
}

.current_hotel.header_link::after {
  content: '';
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text-color-primary);
}

.header_media {
  display: flex;
  align-items: center;
  gap: 16px;

  @media screen and (max-width: 1439px) {
    gap: 14px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-icon {
  width: 24px;
  height: 24px;
  fill: var(--bg-color-white);
  stroke: var(--text-color-primary);

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo_link {
  text-align: center;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(22 / 14);
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--border-color-light);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.logo_text {
  text-align: center;
  font-size: 6px;
  line-height: calc(8 / 6);
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--border-color-light);

  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: calc(10 / 8);
  }
}

.menu-toggle {
  background-color: transparent;
  border: none;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.menu-toggle-icon {
  stroke: var(--border-color-light);
}

// =============mobile style=================
.menu-close-btn {
  display: block;
  position: absolute;
  top: 37px;
  left: 20px;
  transform: translateY(-50%);
  margin: 0;
  z-index: 10;
  padding: 7px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: background-color var(--animation-for-hover);

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}

.modal-close-btn-icon {
  display: block;
  stroke: var(--bg-color-white);
  width: 14px;
  height: 14px;

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.mob-logo {
  text-align: center;
}

.mob-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(247, 247, 247, 0.2);

  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}

.mob-logo_link {
  color: var(--bg-color-white);
}

.mob-logo_text {
  color: var(--bg-color-white);
}

.mob-header-icon {
  display: flex;
  width: 20px;
  height: 20px;
  fill: var(--text-color-primary);
  stroke: var(--bg-color-white);

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.mob-header_media-bottom {
  display: flex;
  align-items: center;
  gap: 14px;
  position: absolute;
  bottom: 24px;
  left: 20px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-header_media {
  position: absolute;
  top: 37px;
  right: 20px;
  transform: translateY(-50%);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background-color: var(--text-color-primary);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu-wrapper {
  padding: 128px 100px 470px;

  @media screen and (min-width: 768px) {
    padding: 240px 100px 530px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 40px;
  }
}

.mob-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: calc(24px / 18px);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 24px;
    line-height: calc(32 / 24);
  }
}
