<section class="amenities">
  <div class="container">
    <h1 class="visually-hidden">General Amenities & Facilities</h1>
    <div class="amenities__all">
      <ul class="amenities__main">
        <li class="amenities__list">
          <h2 class="amenities__title">General Amenities & Facilities:</h2>
          <ul class="amenities__mark">
            <li class="amenities__item">24-hour front desk service</li>
            <li class="amenities__item">Daily housekeeping</li>
            <li class="amenities__item">Free Wi-Fi throughout the hotel</li>
            <li class="amenities__item">Elevator access</li>
            <li class="amenities__item">Luggage storage</li>
            <li class="amenities__item">Non-smoking rooms available</li>
            <li class="amenities__item">
              Meeting rooms for business and events
            </li>
            <li class="amenities__item">On-site parking (surcharge)</li>
            <li class="amenities__item">Concierge services</li>
          </ul>
        </li>
        <li class="amenities__list">
          <h2 class="amenities__title">Bathroom:</h2>
          <ul class="amenities__mark">
            <li class="amenities__item">Private bathroom with shower</li>
            <li class="amenities__item">Complimentary toiletries</li>
            <li class="amenities__item">Hair dryer</li>
            <li class="amenities__item">Fresh towels daily</li>
            <li class="amenities__item">
              Deluxe bathrobes (in some room categories)
            </li>
          </ul>
        </li>
        <li class="amenities__list">
          <h2 class="amenities__title">Bedroom:</h2>
          <ul class="amenities__mark">
            <li class="amenities__item">
              Comfortable beds with high-quality linens
            </li>
            <li class="amenities__item">Blackout curtains</li>
            <li class="amenities__item">
              Climate control (air conditioning and heating)
            </li>
            <li class="amenities__item">Safe for valuables</li>
            <li class="amenities__item">Writing desk and chair</li>
            <li class="amenities__item">Flat-screen TV with cable channels</li>
          </ul>
        </li>
        <li class="amenities__list">
          <h2 class="amenities__title">Kitchen:</h2>
          <ul class="amenities__mark">
            <li class="amenities__item">
              In-room kitchenette (in some room categories)
            </li>
            <li class="amenities__item">Refrigerator</li>
            <li class="amenities__item">Microwave</li>
            <li class="amenities__item">Electric kettle</li>
            <li class="amenities__item">Cooking utensils and cutlery</li>
            <li class="amenities__item">Dining table and chairs</li>
          </ul>
        </li>
        <li class="amenities__list">
          <h2 class="amenities__title">Media:</h2>
          <ul class="amenities__mark">
            <li class="amenities__item">Flat-screen TV with cable channels</li>
            <li class="amenities__item">High-speed Wi-Fi</li>
            <li class="amenities__item">iPod docking station</li>
            <li class="amenities__item">Speaker system</li>
            <li class="amenities__item">
              Electrical outlets for charging devices.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="amenities__thumb">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /src/images/amenities/room1-desk@1x.jpg 1x,
            /src/images/amenities/room1-desk@2x.jpg 2x,
            /src/images/amenities/room1-desk@3x.jpg 3x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /src/images/amenities/room1-tabl@1x.jpg 1x,
            /src/images/amenities/room1-tabl@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /src/images/amenities/room1-mob@1x.jpg 1x,
            /src/images/amenities/room1-mob@2x.jpg 2x
          "
        />
        <img
          class="amenities__room1"
          src="/src/images/amenities/room1-mob@1x.jpg"
          alt="Bathroom"
          width="259"
          height="333"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /src/images/amenities/room2-desk@1x.jpg 1x,
            /src/images/amenities/room2-desk@2x.jpg 2x,
            /src/images/amenities/room2-desk@3x.jpg 3x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /src/images/amenities/room2-tabl@1x.jpg 1x,
            /src/images/amenities/room2-tabl@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /src/images/amenities/room2-mob@1x.jpg 1x,
            /src/images/amenities/room2-mob@2x.jpg 2x
          "
        />
        <img
          class="amenities__room2"
          src="/src/images/amenities/room2-mob@1x.jpg"
          alt="Bathroom"
          width="207"
          height="103"
        />
      </picture>
      <button class="amenities__btn" type="button">book a room</button>
    </div>
  </div>
</section>
