@media screen and (min-width: 1440px) {
  .container.amenities__flex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .amenities__main {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
  }
}

.amenities {
  padding-top: 40px;
  padding-bottom: 64px;
  background-color: var(--bg-color-dark);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .amenities {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .amenities {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.amenities__title {
  margin-top: 0;
  margin-bottom: 28px;

  padding-left: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--text-color-secondary);
}

@media screen and (min-width: 768px) {
  .amenities__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.1;
  }
}

.amenities__title:last-child {
  margin-bottom: 64px;
}

.amenities__mark {
  list-style-type: disc;
}
@media screen and (min-width: 1440px) {
  .amenities__list:nth-child(1) {
    margin-right: 70px;
  }
  .amenities__list:nth-child(3) {
    margin-right: 230px;
  }
}
@media screen and (max-width: 1139px) {
  .amenities__list:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .amenities__list:last-child {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1139px) {
  .amenities__list:last-child {
    margin-bottom: 122px;
  }
}
.amenities__item {
  list-style-position: outside;
  margin-left: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  /* or 129% */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--text-color-secondary);
}
@media screen and (min-width: 768px) {
  .amenities__item {
    font-size: 18px;
    line-height: 1.33;
  }
}
.amenities__item:first-child {
  margin-top: 28px;
}
@media screen and (min-width: 320px) {
  .amenities__thumb {
    position: relative;
    height: 397px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .amenities__thumb {
    max-width: 704px;
    height: 525px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .amenities__thumb {
    position: relative;
    margin: 0;
    max-width: 880px;
    height: 636px;
    width: 855px;
    top: -114px;
    right: -480px;
  }
}

.amenities__room1 {
  position: absolute;
  right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .amenities__room1 {
    width: 408px;
    height: 525px;
  }
}
@media screen and (min-width: 1440px) {
  .amenities__room1 {
    width: 496px;
    height: 636px;
  }
}
.amenities__room2 {
  position: absolute;
  left: 0;
  top: 144px;
  z-index: 30;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .amenities__room2 {
    top: 157px;
    width: 365px;
    height: 182px;
  }
}
@media screen and (min-width: 1440px) {
  .amenities__room2 {
    width: 439px;
    height: 219px;
  }
}

.amenities__btn {
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);
  width: 175px;
  height: 34px;
  margin: 0 auto;
  bottom: 0;
  padding: 8px 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  /* identical to box height, or 129% */

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--text-color-secondary);

  background-color: transparent;

  border: 0.8px solid var(--border-color-light);
  border-radius: 32px;
}
.amenities__btn:hover,
.amenities__btn:focus {
  background-color: var(--bg-color-white);
  color: var(--text-color-primary);
  border: 0.8px solid var(--border-color-light);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .amenities__btn {
    position: absolute;
    padding: 8px 23px;
    left: 73px;
    bottom: 114px;
    width: 143px;
    height: 40px;
    z-index: 30;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1440px) {
  .amenities__btn {
    position: absolute;
    padding: 9px 23px;
    width: 170px;
    height: 42px;
    left: 85px;
    bottom: 190px;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
  }
}
